In [3]:
import pandas as pd

sales_data = pd.read_excel('dataset.xlsx')

In [8]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128935 non-null  object
 18  ship-postal-code    128935 non-null  float64
 19  ship-country        128935 non-null  object
 20  promotion-ids       79815 non-null   object
 21  B2B                 128968 non-null  float64
 22  fulfilled-by        39276 non-null   object
dtypes: float64(3), int64(2), object(18)
memory usage: 22.6+ MB

In [14]:
sales_data.tail()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,Blouse,...,1,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,NaN,0.0,NaN
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,1,INR,999.0,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Dress,...,1,INR,690.0,HYDERABAD,TELANGANA,500049.0,IN,NaN,0.0,NaN
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,1,INR,1199.0,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,1,INR,696.0,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN

In [16]:
#checking the number of null values in the data

sales_data.isnull()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
128971,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
128972,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
128973,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
128974,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [18]:
sales_data.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               40
ship-postal-code         40
ship-country             40
promotion-ids         49160
B2B                       7
fulfilled-by          89699
dtype: int64

In [30]:
#cleaning the data (removing the null rows)

sales_data_cleaned = sales_data.dropna(subset = ['Amount'])

In [34]:
sales_data_cleaned.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         5136
Qty                       0
currency                  0
Amount                    0
ship-city                31
ship-state               38
ship-postal-code         38
ship-country             38
promotion-ids         41705
B2B                       7
fulfilled-by          83640
dtype: int64

In [36]:
big_purchases = sales_data_cleaned[sales_data_cleaned['Amount'] > 1000]

In [44]:
print(big_purchases[['Order ID','Amount','ship-state']].head())

               Order ID  Amount      ship-state
32  404-9632124-1107550  1233.0  ANDHRA PRADESH
43  408-3478480-0881162  1126.0   UTTAR PRADESH
46  408-3917043-5314763  1146.0  ANDHRA PRADESH
52  408-7138000-9728362  1033.0        NAGALAND
69  405-6480932-8759528  1146.0       KARNATAKA

In [50]:
#how many sales greater than $1000

big_purchases['Amount'].count()

13332

In [92]:
filtered_data = sales_data_cleaned[(sales_data_cleaned['Category'] == 'Tops') & (sales_data_cleaned['Qty'] == 3)]

In [94]:
print(filtered_data['Order ID'].count())

0

In [118]:
#grouping the data for aggregations

category_totals = sales_data_cleaned.groupby('Category', as_index=False)['Amount'].sum()
print(category_totals)

  Category       Amount
0   Blouse  21757954.88
1   Bottom    150667.98
2    Dress  12131224.11
3    Scarf       915.00
4      Set  39204124.03
5      Top   5347792.30

In [120]:
#sorting this data

sorted_category_sums = category_totals.sort_values('Amount', ascending=False)
print(sorted_category_sums)

  Category       Amount
4      Set  39204124.03
0   Blouse  21757954.88
2    Dress  12131224.11
5      Top   5347792.30
1   Bottom    150667.98
3    Scarf       915.00

In [148]:
#average of the sales by Category and Fulfilment

avg_catfulfil = sales_data_cleaned.groupby(['Category','Fulfilment'], as_index=False)['Amount'].mean()
print(avg_catfulfil)

sorted_avg_catfulfil = avg_catfulfil.sort_values('Amount', ascending=False)

   Category Fulfilment      Amount
0    Blouse     Amazon  459.493705
1    Blouse   Merchant  451.327641
2    Bottom     Amazon  365.080508
3    Bottom   Merchant  350.592283
4     Dress     Amazon  776.077009
5     Dress   Merchant  740.499730
6     Scarf     Amazon  305.000000
7       Set     Amazon  838.042180
8       Set   Merchant  822.466512
9       Top     Amazon  536.449448
10      Top   Merchant  493.678577

In [150]:
pd.set_option('display.max_columns', None)
sales_data.columns

sales_data.head(10)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,0.0,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Blouse,3XL,B09K3WFS32,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Blouse,XL,B07WV4JV4D,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,1.0,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Dress,L,B099NRCT7B,NaN,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,0.0,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,0.0,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,XL,B08YN7XDSG,Shipped,1,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,L,B08CMHNWBN,Shipped,1,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,Blouse,S,B081WX4G4Q,Shipped,1,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0.0,Easy Ship
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,3XL,B08L91ZZXN,Cancelled,0,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,0.0,NaN
9,9,402-4393761-0311520,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,Blouse,XXL,B08B3XF5MH,Shipped,1,INR,363.00,Chennai,TAMIL NADU,600041.0,IN,NaN,0.0,NaN

In [159]:
#calculate the total sales by shipment and fulfilment

total_cs_fulfil = sales_data_cleaned.groupby(['Courier Status','Fulfilment'], as_index=False)['Amount'].sum()
print(total_cs_fulfil)

  Courier Status Fulfilment      Amount
0        Shipped     Amazon  50331934.0
1        Shipped   Merchant  20726730.0
2      Unshipped     Amazon   3990217.0
3      Unshipped   Merchant    353625.0

In [161]:
sorted_total_cs_fulfil = total_cs_fulfil.sort_values('Amount', ascending=False)
print(sorted_total_cs_fulfil)

  Courier Status Fulfilment      Amount
0        Shipped     Amazon  50331934.0
1        Shipped   Merchant  20726730.0
2      Unshipped     Amazon   3990217.0
3      Unshipped   Merchant    353625.0

In [167]:
#Renaming the columns

sorted_total_cs_fulfil.rename(columns={'Courier Status':'Shipment'}, inplace=True)
print(sorted_total_cs_fulfil)

    Shipment Fulfilment      Amount
0    Shipped     Amazon  50331934.0
1    Shipped   Merchant  20726730.0
2  Unshipped     Amazon   3990217.0
3  Unshipped   Merchant    353625.0

In [173]:
#Exporting the data

sorted_total_cs_fulfil.to_excel('ShippedVsUnshipped.xlsx', index=False)
sorted_avg_catfulfil.to_excel('Average_by_category_and_Fulfilment.xlsx', index=False)